/* JavaFX CSS 
 * Define rules to style the GUI components
 * @author cspeter
 */

.menu-title {
	-fx-font-size: 25;
}
.menu-button {
	 -fx-pref-width:200;
	 -fx-pref-height:40;
}

.screen-background {
	-fx-background-color: white;
}

.tab-pane {
	-fx-border-color: #C0C0C0;
	-fx-border-width: 1 1 1 1;
	-fx-border-style: dashed inside;

}

.tab-header-background {
    -fx-background-color: white;
}